cvat:
  backend:
    replicas: 1
  frontend:
    replicas: 1
  postgresql:
    enabled: true
  redis:
    enabled: true
  ingress:
    enabled: true
    hostsname: cvat.studio.abode.tailandtraillabs.org
    className: studio-traefik
    tls: true
    tlsSecretName: cvat-studio-tls