cvat:
  backend:
    replicas: 1
  persistence:
    storageClass: "rook-ceph-block"
  frontend:
    replicas: 1
  postgresql:
    enabled: true
  redis:
    enabled: true
  ingress:
    enabled: true
    hostname: cvat.wopr.tailandtraillabs.org
    className: wopr-traefik
    tls: true
    tlsSecretName: cvat-tls