# Default values for wpor-web

replicaCount: 1

image:
  repository: ghcr.io/travismontana/wopr/wopr-api
  pullPolicy: Always
  tag: "latest"
  #tag: "001630b"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: "studio-traefik"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: wopr-api.studio.abode.tailandtraillabs.org
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: wopr-web-tls
      hosts:
        - wopr-api.studio.abode.tailandtraillabs.org

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

env:
  - name: WOPR_ENVIRONMENT
    value: "production"

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  uriSecretName: wopr-config-db-cluster-app
  uriKey: uri

# Default values for WOPR services

config:
  services:
    # API_URL is set in configmap.yaml because it's:
    # API_URL: {{ printf "%s/api/%s" .Values.config.services.apiServiceUrl .Values.config.services.apiVersion | quote }}
    # If you can figure out how to make that work here, go for it.
    - name: API_SERVICE_URL
      value: "http://wopr-api.wopr.svc:8000"
    - name: API_VERSION
      value: "v1"
    - name: WOPR_VERSION
      value: "v0.1.4-alpha"


env:
  - name: WOPR_API_URL
    valueFrom:
      configMapKeyRef:
        name: wopr-api-config
        key: API_URL
# Optional: Environment-specific overrides
# environments:
#   dev:
#     config:
#       environment: "development"
#       logging:
#         level: "DEBUG"
#   staging:
#     config:
#       environment: "staging"