wopr-baseapp:
  app:
    name: wopr-api
  replicaCount: 1

  image:
    registry: ghcr.io
    repository: travismontana/wopr/wopr-api
    tag: latest
    pullPolicy: Always

  service:
    type: ClusterIP
    port: 8000

  ingress:
    enabled: true
    className: wopr-traefik
    hosts:
      - host: api.wopr.tailandtraillabs.org
        paths:
          - path: /
            pathType: Prefix
    tls: 
      - secretName: wopr-api-tls
        hosts:
          - api.wopr.tailandtraillabs.org
  
  env:
    - name: WOPR_ENVIRONMENT
      valueFrom:
        configMapKeyRef:
          name: wopr-config
          key: WOPR_ENVIRONMENT
    - name: DBUSER
      valueFrom:
        secretKeyRef:
          name: wopr-db-user-credentials
          key: username
    - name: DBPASSWORD
      valueFrom:
        secretKeyRef:
          name: wopr-db-user-credentials
          key: password
    - name: DBHOST
      valueFrom:
        secretKeyRef:
          name: wopr-db-cluster-app
          key: host
    - name: DBPORT
      valueFrom:
        secretKeyRef:
          name: wopr-db-cluster-app
          key: port
    - name: DBNAME
      value: "wopr-db-database"
    - name: CONFDBNAME
      value: "wopr-config-db-database"
    - name: CONFDBUSER
      valueFrom:
        secretKeyRef:
          name: wopr-config-db-user-credentials
          key: username
    - name: CONFDBPASSWORD
      valueFrom:
        secretKeyRef:
          name: wopr-config-db-user-credentials
          key: password
      
  woprConfig:
    WOPR_VERSION: "v0.1.5-alpha"
    WOPR_ENVIRONMENT: "production"
    WOPR_METADATA_DB: "wopr-db-database"
    WOPR_API_URL: "http://wopr-api.wopr.svc:8000"

  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
