{% extends "base.html" %}

{% block main_subheader %}
<h1>Training Details</h1>
{% endblock %}

{% block content %}
{% csrf_token %}
{% if training_run %}
    <h2>Training Run ID: {{ training_run.id }}</h2>
    <p><strong>UUID:</strong> {{ training_run.uuid }}</p>
    <p><strong>Model:</strong> {{ training_run.model_version.model.name }}</p>
    <p><strong>Model Version:</strong> {{ training_run.model_version.model.name }}</p>
    <p><strong>Description:</strong> {{ training_run.description }}</p>
    <p><strong>Notes:</strong> {{ training_run.notes }}</p>
    <p><strong>Dataset ID:</strong> {{ training_run.dataset.id }}</p>
    <br>
    <hr>
    {% if needs %}
    <h3>Training Status</h3>
    <ul>
        {% for need in needs %}
            {% if need.set == "dataset" %}
                <li>The {{ need.needs }} for dataset is not set, so there are no datasets to be had.</li>
            {% elif need.set == "result" %}
                <li>The {{ need.needs }} for result is not set, so there are no results to be had.</li>
                <form name="training_setup" method="post" action="{% url 'training_setup' %}">
                    {% csrf_token %}
                    <input type="hidden" name="training_run_id" value="{{ training_run.id }}">
                    <input type="hidden" name="dataset_id" value="{{ dataset.id }}">
                    <button type="submit" name="training_run_id" value="{{ training_run.id }}">Set Up Training</button>
                </form>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Done been trained.</p>
    {% endif %}
    {% if results.artifact_uri != "/dev/null" %}
    <hr>
    <h3>Training Results</h3>
    <p><strong>Result ID:</strong> {{ results.id }}</p>
    <p><strong>UUID:</strong> {{ results.uuid }}</p>
    <p><strong>Artifact URI:</strong> {{ results.artifact_uri }}</p>
    <p><strong>Metrics:</strong> {{ results.metrics }}</p>
    {% endif %}
    {% if dataset %}
    <hr>
    <h3>Dataset Details</h3>
    <p><strong>Dataset ID:</strong> {{ dataset.id }}</p>
    <p><strong>UUID:</strong> {{ dataset.uuid }}</p>
    <p><strong>Artifact URI:</strong> {{ dataset.artifact_uri }}</p>
        {% if dataset.artifact_uri == "/dev/null" %}
            <p><em>This dataset has an artifact URI of /dev/null, indicating no actual data is associated.</em></p>
            <form name="generate_dataset" method="post" action="{% url 'generate_dataset' %}">
                {% csrf_token %}
                <button type="submit" name="dataset_uuid" value="{{ dataset.uuid }}">Generate Dataset</button>
            </form>
        {% endif %}
{% else %}
    <p>No training run details available.</p>
{% endif %}
{% endif %}
{% endblock %}