# /etc/udev/rules.d/99-wopr-cameras.rules
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="328f", ATTRS{idProduct}=="00ec", SYMLINK+="wopr-c960"
SUBSYSTEM=="video4linux", ATTRS{idVendor}=="328f", ATTRS{idProduct}=="00ba", SYMLINK+="wopr-c950"