wopr-baseapp:
  app:
    name: wopr-thumbor
  replicaCount: 1

  image:
    registry: ghcr.io
    repository: minimalcompact/thumbor
    tag: latest
    pullPolicy: IfNotPresent

  service:
    type: ClusterIP
    port: 80

  ingress:
    enabled: true
    hosts:
      - host: thumbor.wopr.tailandtraillabs.org
        paths:
          - path: /
            pathType: Prefix
    tls: 
      - secretName: thumbor-tls
        hosts:
          - thumbor.wopr.tailandtraillabs.org

  volumeMounts:
  - name: nfs-images
    mountPath: /data
  volumes:
  - name: nfs-images
    nfs:
      server: danas.hangar.bpfx.org
      path: /volume2/wopr
  
  env:
    - name: MAX_AGE
      value: "3600"
    - name: MAX_AGE_TEMP_IMAGE
      value: "300"
    - name: RESULT_STORAGE_EXPIRATION_SECONDS
      value: "60"
    - name: ALLOW_UNSAFE_URL
      value: "True"
    - name: AUTO_WEBP
      value: "True"
    - name: LOG_LEVEL
      value: "DEBUG"
    - name: FILE_LOADER_ROOT_PATH
      value: /data
    - name: LOADER
      value: thumbor.loaders.file_loader
    - name: FILE_STORAGE_ROOT_PATH
      value: /data
    - name: STORAGE
      value: thumbor.storages.file_storage
  args:
    - "--port=80"
    - "--processes=2"
  command: ["/usr/local/bin/thumbor"]
  securityContext:
    runAsNonRoot: false
