{% extends "cameras_base.html" %}

{% block main_content %}
<p>
Welcome to the Cameras page.
</p>
<table>
    <tr>
        <th>C960 - 4K</th>
        <th>C950 - 1080P</th>
        <th>rPi Cam</th>
    </tr>
    <tr>
        <td><img src="{% url 'c960_stream' %}" width="300" height="200"></td>
        <td><img src="{% url 'c950_stream' %}" width="300" height="200"></td>
        <td><blink>Coming Soon!</blink></td>
    </tr>
    <tr>
        <td><a href="http://wopr-cam:5100/snapshot">
            <img src="https://imgproxy.wopr.tailandtraillabs.org/insecure/resize:fill:300:200/plain/http://wopr-cam:5100/snapshot"></a></td>
        <td><a href="http://wopr-cam:5101/snapshot">
            <img src="https://imgproxy.wopr.tailandtraillabs.org/insecure/resize:fill:300:200/plain/http://wopr-cam:5101/snapshot"></a></td>
        <td><blink>Coming Soon!</blink></td>
    </tr>
    <tr>
        <td>
            <form action="{% url 'grab_snapshot' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="camera" value="1">
                <button type="submit">Grab Snapshot</button>
            </form>
        </td>
        <td>
            <form action="{% url 'grab_snapshot' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="camera" value="2">
                <button type="submit">Grab Snapshot</button>
            </form>
        </td>
        <td>
            <form action="{% url 'grab_snapshot' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="camera" value="0">
                <button type="submit">Grab Snapshot</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}