# WOPR Core
git+https://github.com/travismontana/wopr.git#subdirectory=pymods/wopr-core

# Web Framework
fastapi>=0.114.12
uvicorn[standard]>=0.32.0
python-multipart>=0.0.19
httpx>=0.26.0
starlette>=0.46.2
psycopg[binary]~=3.2.3
pyyaml~=6.0.1
pydantic~=2.10.4
asyncpg

opentelemetry-api~=1.39.1
opentelemetry-sdk~=1.39.1
opentelemetry-instrumentation-fastapi~=0.60b1
opentelemetry-exporter-otlp-proto-http>=1.39.1
opentelemetry-instrumentation-requests~=0.60b1    # if you use requests
opentelemetry-instrumentation-httpx~=0.60b1       # if you use httpx
opentelemetry-instrumentation-logging~=0.60b1     # correlate logs with traces