# Default values for wopr-config-service

replicaCount: 1

image:
  repository: ghcr.io/travismontana/wopr/wopr-config_service
  pullPolicy: Always
  tag: "latest"
  #tag: "001630b"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: "studio-traefik"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: wopr-config.studio.abode.tailandtraillabs.org
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: wopr-config-tls
      hosts:
        - wopr-config.studio.abode.tailandtraillabs.org

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

env:
  - name: WOPR_ENVIRONMENT
    value: "production"

postgresql:
  uri:
    valueFrom:
      secretKeyRef:
        name: wopr-config-db-cluster-app
        key: uri

nodeSelector: {}

tolerations: []

affinity: {}
