---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: wopr-nfs-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  mountOptions:
    - hard
    - intr
    - noexec
    - noatime
    - vers=3
  nfs:
    server: danas.hangar.bpfx.org
    path: /volume2/wopr