# Copyright 2026 Bob Bomar
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{
  "nelson": "haha",
  "storage": {
    "base_path": "/remote/wopr",
    "default_extension": "jpg",
    "ensure_directories": true,
    "games_subdir": "games",
    "image_extensions": [
      "jpg",
      "png"
    ],
    "thumbnail_size": [
      480,
      480
    ]
  },
  "analysis_statuses": [
    "pending",
    "processing",
    "completed",
    "failed"
  ],
  "api": {
    "host": "0.0.0.0",
    "port": 8000,
    "ollama_timeout_seconds": 60,
    "ollama_url": "http://groth.abode.tailandtraillabs.org:11434",
    "internalUrl": "http://wopr-api.wopr.svc:8000",
    "externalUrl": "https://api.wopr.tailandtraillabs.org",
    "version": "v2"
  },
  "camera": {
    "buffer_count": 2,
    "capture_delay_seconds": 2,
    "default_format": "RGB888",
    "default_resolution": "4k",
    "resolutions": {
      "1080p": {
        "height": 1080,
        "width": 1920
      },
      "4k": {
        "height": 2592,
        "width": 4608
      },
      "720p": {
        "height": 720,
        "width": 1280
      }
    },
    "camDict": {
      "0": {
        "id": 0,
        "name": "Camera 1",
        "host": "wopr-cam.abode.tailandtraillabs.org",
        "port": "5000"
      },
      "2": {
        "id": 2,
        "name": "Camera 2",
        "host": "wopr-cam.hangar.bpfx.org",
        "port": "5000"
      },
      "3": {
        "id": 3,
        "name": "Camera 3",
        "host": "wopr-cam.hangar.bpfx.org",
        "port": "5000"
      }
    }
  },
  "database": {
    "connection_pool_size": 5,
    "connection_timeout_seconds": 30,
    "max_overflow": 10
  },
  "filenames": {
    "mlcapture": {
      "fullImageFilename": "{{pieces_id}}-{{game_catalog_id}}-{{capture_id}}.jpg",
      "thumbnailFilename": "{{pieces_id}}-{{game_catalog_id}}-{{capture_id}}-thumb.jpg"
    }
  },
  "logging": {
    "date_format": "%Y-%m-%d %H:%M:%S",
    "default_level": "INFO",
    "default_log_dir": "/var/log/wopr",
    "format": "%(asctime)s - %(name)s - %(levelname)s - %(filename)s:%(lineno)d - %(message)s"
  },
  "lightSettings": {
    "temp": {
      "warm": 3000,
      "neutral": 4000,
      "cool": 5000
    },
    "intensity": [ 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 ]
  },
  "homeAssistant": {
    "enabled": true,
    "host": "http://moya.hangar.bpfx.org:8123"
  },
  "object": {
    "rotations": [ 0, 45, 90, 135, 180, 225, 270, 315 ],
    "positions": {
      "Center": "center",
      "Near Center": "nearCenter",
      "Random": "random",
      "Top Edge": "topEdge",
      "Bottom Edge": "bottomEdge",
      "Left Edge": "leftEdge",
      "Right Edge": "rightEdge",
      "Top Right": "topRight",
      "Top Left": "topLeft",
      "Bottom Right": "bottomRight",
      "Bottom Left": "bottomLeft"
    }
  },
  "vision": {
    "default_model": "qwen2-vl:7b",
    "gaussian_blur_kernel": [
      21,
      21
    ],
    "min_change_area_pixels": 1000,
    "morphology_iterations": {
      "dilate": 2,
      "erode": 1
    },
    "morphology_kernel": [
      5,
      5
    ],
    "opencv_change_threshold": 30
  },
  "tracing": {
    "enabled": true,
    "hostInternal": "http://wopr-monitoring-tempo",
    "portInternal": 4318,
    "hostExternal": "https://tempo.monitoring.abode.tailandtraillabs.org",
    "portExternal": 443,
    "service_name": "wopr-unknown",
    "sampling_rate": 1.0
  },
  "baseDomain": "wopr.tailandtraillabs.org",
  "homeAssistant": {
    "enabled": true,
    "host": "http://moya.hangar.bpfx.org:8123"
  },
  "notifications": {
    "email": {
      "enabled": false,
      "smtp_server": "smtp.example.com",
      "smtp_port": 587,
      "use_tls": true,
      "username": "",
      "password": ""
    },
    "discord": {
      "enabled": true,
      "webhook_url": "https://discord.com/api/webhooks/1457873231133544459/3yUwg89RsfjgRu-AmZB_hr0LU586d3OMZ2HniDdoW8YpgNhOO4rcBwCSKaSLJPYq01yE"
    }
  }
}