{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}WOPR - Back of House{% endblock %}</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="main_panel">
        <div class="main_subheader">
            {% block main_subheader %}
            {% endblock %}
        </div>
        <div class="main_panel_panel">
            {% block content %}
            {% endblock %}
        </div>
      </div>
      <div class="main_header">
        {% include "main_header.html" %}
      </div>
      <div class="corner_box">
        {% include "corner.html" %}
      </div>
      <div class="left_column">
        <div class="left_column_main">
            {% include "nav.html" %}
        </div>
        <div class="left_column_subheader">
            {% include "left_column_subheader.html" %}
        </div>
      </div>
      <div class="main_footer">
        {% include "main_footer.html" %}
      </div>
      <div class="funky_box">
        {% include "funky_box.html" %}
      </div>
    </div>
  </body>
</html>
