{% extends "base.html" %}

{% block main_subheader %}
<p>
  Models - 
  <a href="{% url 'model_add'%}">Add New Model</a> - 
  <a href="{% url 'model_family_add' %}">Add New Model Family</a>
</p>
{% endblock %}

{% block content %}

    {% if model %}
        <div class="main-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Shortname</th>
                        <th>Description</th>
                        <th>Note</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ model.id }}</td>
                        <td>{{ model.name }}</td>
                        <td>{{ model.shortname }}</td>
                        <td>{{ model.description|default:"—" }}</td>
                        <td>{{ model.note|default:"—" }}</td>
                        <td>{{ model.created_at|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ model.updated_at|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
<br>
<hr>
<h4>Version</h4>
<div class="version_table">
  <table>
    <thead>
      <tr>
        <th>Version</th>
        <th>Artifact URI</th>
        <th>Checksum</th>
        <th>Current Vers</th>
        <th>Trained At</th>
        <th>Description</th>
        <th>Note</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for model_version in model_versions %}
        <tr>
          <td>{{ model_version.version }}</td>
          <td>{{ model_version.artifact_uri }}</td>
          <td>{{ model_version.checksum }}</td>
          <td>{{ model_version.version }}</td>
          <td>{{ model_version.trained_at }}</td>
          <td>{{ model_version.description }}</td>
          <td>{{ model_version.note }}</td>
      {% endfor %}
          <td>
            {% if not model_version %}
              <form method="post" 
                  action="{% url 'model_version_initial' model.id %}" 
                  style="display: inline;">
                {% csrf_token %}
                <button class="action_button" 
                      type="submit" 
                      name="initialize" 
                      value="{{ model.id }}">
                  Initialize
                </button>
              </form>
            {% endif %}
          </td>
        </tr>
    </tbody>
  </table>
</div>
<br>
<hr>

<h4>Backups</h4>
<div class="version_table">
  <table>
    <thead>
      <tr>
        <th>Model ID</th>
        <th>Artifact URI</th>
        <th>Taken At</th>
        <th>Was Sucessful</th>
      </tr>
    </thead>
    <tbody>
      {% for model_backup in model_backups %}
        <tr>
          <td>{{ model_backup.model_version.version }}</td>
          <td>{{ model_backup.artifact_uri }}</td>
          <td>{{ model_backup.taken_at }}</td>
          <td>{{ model_backup.was_successful }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<hr>

<!-- Model Dict Toggle -->
<input type="checkbox" 
       id="toggle-model" 
       class="dict-toggle-input">
<label for="toggle-model" class="dict-toggle-label">Model</label>
<div class="dict-content">
  <ul>
    {% for field, value in model_dict.items %}
      <li><strong>{{ field }}:</strong> {{ value }}</li>
    {% endfor %}
  </ul>
</div>
<br>
<hr>

<!-- Model Version Dict Toggle -->
<input type="checkbox" 
       id="toggle-model-version" 
       class="dict-toggle-input">
<label for="toggle-model-version" class="dict-toggle-label">
    Model Version
</label>
<div class="dict-content">
  <ul>
    {% for field, value in model_version_dict.items %}
      <li><strong>{{ field }}:</strong> {{ value }}</li>
    {% endfor %}
  </ul>
</div>
<br>
<hr>

<!-- Model Backups Dict Toggle -->
<input type="checkbox" 
       id="toggle-model-backups" 
       class="dict-toggle-input">
<label for="toggle-model-backups" class="dict-toggle-label">
    Model Backups
</label>
<div class="dict-content">
  <ul>
    {% for backup_dict in model_backups_dict %}
      <li>
        <ul>
          {% for field, value in backup_dict.items %}
            <li><strong>{{ field }}:</strong> {{ value }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}