{% extends "images_base.html" %}

{% block main_content %}

{% if image_game_data %}
<table>
    <tr>
        <th>Game</th>
        <th>Num Images Total</th>
    </tr>
    {% for game in image_game_data %}
    <tr>
        <td>{{ game.name }}</td>
        <td><a href="{% url 'image_games_details' game.id %}">{% if game.num_images_total %}{{ game.num_images_total }}{% else %}0{% endif %}</a></td>
    </tr>
    {% endfor %}
    {% if images_not_assigned_to_a_game %}
    <tr>
        <td>Not Assigned to a Game</td>
        <td>{% if images_not_assigned_to_a_game %}{{ images_not_assigned_to_a_game|length }}{% else %}0{% endif %}</td>
    </tr>
    {% endif %}
{% endif %}
{% endblock %}