{% extends "images_base.html" %}

{% block main_content %}

{% if images_list %}
    <h2>Images for Game: {% if game.name %}{{ game.name }}{%else%}Images with no games{% endif %}</h2>
    <p>Game Id: {{game.id}}</p>
    <p>LS Project ID: {{ ls_project_id }}</p>
    <p>ML Datasets: {% if mldatasets %}{{ mldatasets|length }}{% else %}0{% endif %}</p>
    <form method="post" action="{% url 'datasets_mgmt' %}">
        {% csrf_token %}
        <button name="game_id" value="{{ game.id }}">Manage Datasets</button>
    </form>
    <table>
        <tr>
            <td>Images in db</td>
            <td>{{ images_list|length }}</td>
        </tr>
        <tr>
            <td>Images in Label Studio</td>
            <td>
                {% if tasks %}
                    {{ tasks|length }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <h2>
    <h2>Images not in labelsudio</h2>
    <form method="post" action="{% url 'add_to_labelstudio' %}">
    {% csrf_token %}    
    {% if images_not_in_tasks %}
        <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">
            {% for image in images_not_in_tasks %}
            <li><a href="{{ image.image_full_url }}"><img src="{{ image.thumb_url }}" alt="{{ image.filename }}"></a>
            <br>
            <input type="checkbox" name="selected_images" value="{{image.filename}}">{{image.filename}}</a>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="project_id" value="{{ ls_project_id }}">Add Images to Label Studio</button><br>
    {% else %}
        <p>No images available.</p>
    {% endif %}

    <h2>Move image to another game:</h2>
    <form method="post" action="{% url 'change_image_game' %}">
    {% csrf_token %}
    <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">
        {% for image in images_list %}
        <li><a href="{{ image.image_full_url }}"><img src="{{ image.thumb_url }}" alt="{{ image.filename }}"></a>
        <br>
        <input type="checkbox" name="selected_images" value="{{image.filename}}">{{image.filename}}</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <label for="new_game">Select Game to Change to:</label>
    <select name="new_game" id="new_game">
        {% for new_game in games %}
        <option value="{{ new_game.id }}">{{ new_game.name }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="current_game" value="{{ game.id|default:'0' }}">
    <button type="submit">Add Images to Game</button><br>
    </form>
    <br>
{% else %}
    <p>No images available.</p>
{% endif %}
{% endblock %}