{% extends "images_base.html" %}

{% block main_content %}
{% if results %}
    {% if images %}
        <ul>
        {% for image in results %}
            <li>
                <strong>{{ image.name }}</strong> - {{ image.description }}
                {% if image.url %}
                    - <a href="{{ image.url }}">Link</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No images found in the database.</p>
    {% endif %}
{% endif %}
{% endblock %}