{% extends "images_base.html" %}

{% block main_content %}

{% if image_game_data %}
<table>
    <tr>
        <th>Game</th>
        <th>Num Images Total</th>
    </tr>
    {% for game in image_game_data %}
    <tr>
        <td>{{ game.name }}</td>
        <td>{{ game.num_images_total }}</td>
    </tr>
    {% endfor %}
    {% if images_not_assigned_to_a_game %}
    <tr>
        <td>Not Assigned to a Game</td>
        <td>{{ images_not_assigned_to_a_game|length }}</td>
    </tr>
    {% endif %}
{% endif %}
{% endblock %}