{% extends "images_base.html" %}

{% block main_content %}

{% if images_list %}
    <h2>Images for Game: {% if game.name %}{{ game.name }}{%else%}Images with no games{% endif %}</h2>
    <p>Game Id: {{game.id}}</p>
    <form method="post" action="{% url 'change_image_game' %}">
    {% csrf_token %}
    <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">
        {% for image in images_list %}
        <li><a href="{{ image.image_full_url }}"><img src="{{ image.thumb_url }}" alt="{{ image.filename }}"></a>
        <br>
        <input type="checkbox" name="selected_images" value="{{image.filename}}">{{image.filename}}</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <label for="game">Select Game to Change to:</label>
    <select name="game" id="game">
        {% for game in games %}
        <option value="{{ game.id }}">{{ game.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add Images to Game</button><br>
    </form>
    <br>
{% else %}
    <p>No images available.</p>
{% endif %}
{% endblock %}