{% extends "images_base.html" %}

{% block main_content %}

{% if images_on_disk or images_in_both %}
    <form method="post" action="{% url 'add_images_to_db' %}">
        {% csrf_token %}
        <input type="hidden" name="image_dir" value="{{ image_dir }}">

        <h2>Images on disk but not in the DB</h2>

        <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">
        {% for image in images_on_disk %}
            <li><a href="{{image.url}}">
                <img src="{{image.thumb_url}}" alt="{{ image.name }}"></a><br>
                <label>
                    <input type="checkbox" name="selected_images" value="{{image.name}}"><br>
                    <p>{{image.name}}</p>
                </label>
            </li>
        {% endfor %}
        </ul>
    <label>
        <input type="checkbox" id="select-all"> Select All
    </label>
    <button type="submit"><input type="hidden" name="action" value="add_to_db">Add Selected to DB</button>
    <br>
    <button type="submit"><input type="hidden" name="action" value="move_to_archive">Move Selected to Archive</button>
    </form>
    <hr>
            <h2>Images in DB and disk</h2>
        <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">

        {% for image in images_in_both %}
            <li><a href="{{image.url}}">
                <img src="{{image.thumb_url}}" alt="{{ image.name }}"><br>{{image.name}}</a>
            </li>
        {% endfor %}
        </ul>

{% else %}
    <h2>No Images on Disk</h2>
{% endif %}



<hr>
<h2>These are the images that live in /remote/wopr/{{ image_dir }} on disk.</h2>

{% if dirs %}
    <ul style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; list-style: none; padding: 0;">

    {% for d in dirs %}
        <li><a href="{{images_url}}/{{image_dir}}/{{ d.name }}">
            <img src="{{thumbs_url}}/insecure/resize:fill:300:200/plain/{{images_url}}/{{image_dir}}/{{ d.name }}" alt="{{ d.name }}"><br>{{d.name}}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No images found.</p>
{% endif %}
{% endblock %}