{% extends "base.html" %}

{% block main_subheader %}
<p>Training</p><br>
<a href="{% url 'new_training' %}">Create a new training</a>
{% endblock %}

{% block content %}

{% if training_runs %}
<br>
<hr>
<h2>Training Runs</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>UUID</th>
        <th>Model</th>
        <th>Model Version</th>
        <th>Dataset ID</th>
        <th>Result ID</th>
    </tr>
    {% for run in training_runs %}
    <tr>
        <td><form name="run_id" method="get" action ="{% url 'training_detail' pk=run.id %}">
            {% csrf_token %}
            <button type="submit" name="run_id" value="{{ run.id }}">{{ run.id }}</button>
        </form></td>
        <td>{{ run.uuid }}</td>
        <td>{{ run.model_version.model.name }}</td>
        <td>{{ run.model_version.model.name }} - {{ run.model_version.artifact_uri }}</td>
        <td>{{ run.dataset.id }}</td>
        <td>{{ run.result.id }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}