{% extends "base.html" %}

{% block main_subheader %}
<p>Training</p>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'start_training' %}">
    {% csrf_token %}
    
    <label for="version_select"><strong>Model Version:</strong></label>
    <select name="version_id" id="version_select" required>
        <option value="">Select a model version</option>
        {% for version in model_vers %}
        <option value="{{ version.id }}">{{ version.model.name }} - {{ version.artifact_uri }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="project_select"><strong>Project:</strong></label>
    <select name="project_id" id="project_select" required>
        <option value="">Select a project</option>
        {% for project in projects %}
        <option value="{{ project.id }}">{{ project.title }}</option>
        {% endfor %}
    </select>
    <br>
    <strong>Description:</strong><input type="text" name="description">
    <br>
    <strong>Notes:</strong><input type="text" name="notes">
    <br>
    <input type="submit" value="Start Training">
</form>
{% endblock %}